@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
  font-family: Open Sans;
}

section #footer{
  width: 100%;
  display: inline-block;
  background: #333;
  height: 50vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  
}

.footer-distributed{
	background: #001F3F;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
	
}
@media(max-width:600px){
	.footer-distributed{
		margin-top: 25px;
	}
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */
.footer-distributed .footer-left p{
    font-size: 13px;
    color:  #167f92;
}

.footer-distributed .footer-left{
	width: 40%;
}

.footer-distributed .footer-left img{
    width: 100px;
    padding-top: 0px;
}

/* The company logo */

.footer-distributed h3{
	color:  #167f92;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
    color:  #167f92;
    font-weight: bold;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 0px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none !important;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 25%;
    margin-right: 20px;
}

.footer-distributed .footer-center .footer-company-about span{
    font-weight: bold;
    font-size: 20px;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none !important;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #167f92;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #167f92;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 15px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #167f92;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 6px;
	margin-bottom: 5px;
}

.footer-getintouch-p{
    display: inline;
    font-size: 15px;
}

.footer-right .footer-company-about div a{
    text-decoration: none !important;
    color: white;
}

.location-p{
    margin-left: 5px;
}

.mail-i{
    margin-right: 3px;
}

.footer-services-div{
    color: white;
    font-size: 15px;
    margin-bottom: 5px;
	
}
.footer-services-div a{
	text-decoration: none !important;
}

.footer-distributed hr{
	color: #167f92;
	border-color: #167f92;
    margin: 20px 0 10px 0;
    opacity: 0.5;
}

.copyrights{
	color:  white;
    text-align: center;
    margin-bottom: -30px;
    font-weight: 100;
}

.copyrights div a{
    text-decoration: none;
    color: #167f92;
    margin: 0 5px 5px 0;
    font-weight: 500;
}

.copyrights div a:before {
    content: "|";
    font-weight:300;
    font-size: 20px;
    left: 0;
    color: #167f92;
    display: inline-block;
    padding-right: 5px;
  }

  .copyrights div .link-1:before {
    content: none;
  }

  .CopyW{
    margin-top: 7px;
  }

  .footer-about-wrapper{
	display: inline-block;
	position: relative;
	cursor: pointer;
  }

  .footer-company-about:before{
	content: "";
	height: 3px;
	width: 40px;
	position: absolute;
	top: 25px;
	left: 0px;
	background-color: #167f92;
	color: black;
	transition: width 0.2s ease-in-out;
  }

  .footer-company-about-hover:before{
	content: "";
	height: 3px;
	width: 100px;
	position: absolute;
	top: 25px;
	left: 0px;
	background-color: #167f92;;
  }

  /* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
		align-items: center;
	}

	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: inline-block;
		width: 45%;
		margin-bottom: 20px;
		align-items: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

	/* .footer-company-about:before{
		display: none;
	}
	
	.footer-company-about-hover:before{
		display: none;
	} */

}

@media (max-width: 490px){
	.footer-distributed{
		padding: 35px 30px 55px 30px;
	}

	.footer-distributed .footer-icons a{
		margin-right: 0px;
	}

	.footer-distributed hr{
		margin-top: -10px;
	}
/* 
	.footer-getintouch-p{
		display: block;
	}

	.footer-getintouch-div a{
		display: block;
	} */
}
/* 
@media(max-width: 420px){
	.footer-distributed{
		padding: 15px 10px;
	}
} */
.small-footer{
	display:none;
}

.footer-dropdown{
	position: relative;
	background-color: #001F3F;
}

.drop-down-content{
	max-height: 0px;
	overflow: hidden;
	transition: max-height 0.3s ease-in-out;
	display: block;
	position: absolute;
	z-index: 10;
	background-color: #001F3F;
	border:rgba(0, 0, 0, 0.5);
}

.footer-dropdown:hover .drop-down-content{
	max-height: 200px;
}

.footer-dropdown-header{
	display: block;
	color:  #ffffff;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
}

@media(max-width: 400px){
	.big-footer{
		display:none;
	}
	.small-footer{
		display: block;
	}
	.footer-dropdown-header{
		font-size: 18px;
	}
}
